// Custom styles.
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
}
.header {  background:url(http://ojoba1c98.bkt.clouddn.com/img/header/header_background.jpg);}
code {
    color: #E6006B;
    background: white;
    border-radius: 3px;
}
blockquote {
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #1E90FF;
}
.page-post-detail .post-title {
  font-size: 26px;
  text-align: center;
  word-break: break-word;
  font-weight: 400;
  background-color: #7A67EE;
  border-radius: 0.3em;
  line-height: 1em;
  padding-bottom: 0.12em;
  padding-top: 0.12em;
  box-shadow: 2px 2px 7px #9fb6cd;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
  background-color: #00B2EE;
  text-align: center;
}
h2 {
  font-size: 22px;
  background-color: #63B8FF;
  text-align: center;
}
h3 {
  font-size: 20px;
  background-color: #ADD8E6;
}
